h2, h3 {
    margin: 0px;
}
.userPost {
    padding: 10px 40px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid lightgrey;
}

.userPost:hover {
    background-color: lightgrey;
}

.flexDiv {
    display: flex;
    gap: 20px;
    align-items: center;
}